@import "../styles/colors";

.TopBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $primary;
    color: $on-primary;
    border-bottom: 2px solid $surface;
    
    .Brand {
        padding: 1rem;
        display: flex;
        align-items: center;
        .Logo {
            height: 2rem;
            width: auto;
            margin-right: 1rem;
        }
        span {
            margin: 0;
            font-weight: bolder;
        }
    }
    .TopBarNav {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        div {
            margin-left: 1rem;
        }
    }
}
